*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url("../../Assets/pokedex-background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P';
    height: 100%;
}
h1{
    margin-top: 30px;
    text-align: center;
    color: black;
}
h1 span{
    color: red;
}
div{
    display: block;
}
#textbar{
    font-family: 'Press Start 2P';
    font-size: 12px;
}
#searchbar{
    margin-top: 10px;
    display: flex;
    position: absolute;
    right: 37%;
    top: 17.8%;
}
#submit-text{
    font-family: 'Press Start 2P';
}
#text-box{
    width: 500px;
    height: 175px;
    position: relative;
    top: 0;
    left: 32%;
}
#squelette{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30%;
    margin: 60px;
}
#squelette-gauche{
    border: 4px solid black;
    background-color: red;
    border-radius: 20px 20px 0px;
    z-index: 1;
}
#top-lights{
    display: flex;
}
.left-svg{
    position: absolute;
    z-index: 1;
}
#top-lights ul li{
    margin-top: 10px;
    display: inline-block;
    padding-left: 30px;
}
#blue-light{
    margin-top: 20px;
}
#screen{
    display: grid;
    height: 38vh;
    margin: 50px;
    border: 3px solid black;
    border-radius: 0 0 0 50px;
    text-align: center;
    background-color: white;
    grid-template-rows: 8% 73% 9%;
}
#main-screen{
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #98cb98;
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#left-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#left-buttons li{
    list-style-type: none;
    width: 30px;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
}
.buttons-container {
    display: grid;
    grid-template-rows: 40% 60%;
}
.upper-buttons-container {
    display: flex;
    align-items: top;
    justify-content: start;
}
.nav-buttons-container {
    display: grid;
    grid-template-columns: 27% 35% 38%;
}
.big-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px black;
    background-color: darkgrey;
    margin-left: 7px;
}
.long-buttons-container {
    display: flex;
    width: 200px;
    margin-left: 50px; 
    margin-bottom: 50px;
}
.long-button {
    width: 120px;
    height: 12px;
    border-radius: 50px;
    border: 2px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
}
.long-button-red{
    background-color: #ff0000;
}
.light-blue {
    background-color: #85bdfe;
}
.dots-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    font-size: x-large;
}
.green-screen {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: solid black 2px;
    background-color: #3ab47d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name-screen {
    width: 100%;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 12px;
    overflow-wrap: break-word;
}
.right-nav-container {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-button {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-center-circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: solid black 2px;
    z-index: +2;
}
.nav-button-vertical {
    position: absolute;
    transform: rotate(90deg);
    background-color: darkgrey;
    border-radius: 5px;
    height: 28px;
    width: 102px;
    border: 2px solid black;
}
.nav-button-horizontal {
    position: absolute;
    background-color: darkgrey;
    border-radius: 5px;
    height: 28px;
    width: 102px;
    border: 2px solid black;
}
.border-top {
    border-top: 3.5px solid darkgrey;
    position: absolute;
    top: -2px;
    left: 36.8px;
    right: 36.4px;
}
.border-bottom {
    border-top: 3.5px solid darkgrey;
    position: absolute;
    top: 23px;
    left: 36.8px;
    right: 36.4px;
}
.bottom-right-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#squelette-droite{
    border: 4px solid black;
    background-color: red;
    display: grid;
    border-left: none;
    margin-top: 50px;
    border-radius: 0px 0px 20px;
    box-sizing: border-box;
    grid-template-rows: 24% repeat(4, 27%);
}
/* top screen */
.top-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel-screen {
    font-family: 'Press Start 2P';
    width: 225px;
    height: 125px;
    background-color: #3ab47d ;
    border: solid black 2px;
    border-radius: 4px;
    font-size: xx-small;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    line-height: 2;
}
  
/* square buttons grid */
.square-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.grey-squares-container {
    width: 286px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grey-square {
border-radius: 2px;
border: black 2.5px solid;
background-color: darkgrey;
box-shadow: inset -2px -2px grey;
}
  
  /* center buttons */
.center-buttons-container {
    display: flex;
    justify-content: space-around;
}
  
.center-left-container {
    display: grid;
}
  
.small-reds-container {
    display: flex;
    align-items: center;
    justify-content: start;
}
.small-reds-container .small-light {
    border: solid black 2px;
    background-color: darkred;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-top: 10px;
}
.small-reds-container .dot {
    height: 5.5px;
    width: 2.5px;
    top: 1px;
    left: 1px;
}
.white-squares-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-square button{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: black 2px solid;
    background-color: #ffffff;
    box-shadow: inset -2px -2px gray;
    text-align: center;
    
}
.center-right-container {
    display: grid;
}
  
.thin-buttons-container {
    display: flex;
    justify-content: space-between;
}
  
.thin-button {
    width: 70px;
    height: 8px;
    border: 2px solid black;
    background-color: darkgrey;
    margin-left: 10px;
}
  .darkgrey-button {
    justify-self: end;
    background-color: darkgrey;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 2px black;
    margin-left: 7px;
  }
  
  /* bottom screens */
  
  .bottom-screens-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .bottom-screens-container .right-panel-screen {
    font-size: 12px;
    margin-bottom: 7px;
    width: 140px;
    height: 50px;
  }