*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'aquino';
    src: url(../../Assets/fonts/aquino-font/AquinoDemo-511lj.ttf);
}
body{
    height: 100vh;
    width: 100%;
    background-color: #9dc6ff;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-family: 'aquino';
    font-size: 28px;
    color: #222;
    margin-left: 10px;
}
span{
    color: #0c4271;
}
#clouds{
    color: white;
}
.navigation{
    display: flex;
    position: sticky;
    top:0;
    background-color: #4993fa;
    height: 12vh;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../../Assets/images/waves.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center input{
    height: 30px;
    padding-left: 3px;
}
.search{
    float: right;
    height: 26px;
    width: 26px;
    border: none;
    border-radius: 0;
    background-image: url("../../Assets/images/search.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
}
.end button{
    vertical-align: top;
    background-color: #9dc6ff;
}
footer ul li, .end ul li{
    display: inline-block;
    padding-right: 20px;
}
.grid-container{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: auto;
    border: 1px solid black;
    flex-grow: 1;
}
.item-1 h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 6vh;
    background-image: url(../../Assets/images/waves.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
