*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
}

@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
    font-style: italic;
}

@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
    font-style: bold;
}
a{
    text-decoration: none;
    color: #f3f3f3;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #352F44;
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(../../Assets/images/pixel_background.gif); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f3f3f3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.navigation{
    position: sticky;
    top:0;
    width: 100%;
    height: 8%;
    background-color:#2a2438;
}
h1{
    margin-top: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul{
    margin-top: 15px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.icons ul li{
    align-items: center;
}
.introduction{
    height: calc(100vh - 56.31px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.introductionDebut{
    display: flex;
    align-items: center;
}
.introductionDebut strong{
    font-size: 32px;
}
.container{
    height: 705px;
    background-color: #3c3c3c;
    align-items: center;
}
.container p{
    text-align: center;
    margin-top: 30px;
}
h2{
    margin-top: 30px;
    text-align: center;
}
.grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 140px;
    grid-gap: 15px;
    row-gap: 60px;
    margin: 40px;
}

.element{
    background: black;
    border-radius: 10px;
    color: white;
    padding: 30px 25px;
    transition: all .3s;
    text-shadow: 0 0 15px black;
}
.element a{
    padding: 10px;
    font-size: 2em;
    float:right;
}
.element:nth-of-type(1){
    background: center url("../../Assets/images/espace.jpeg");
    background-size: cover;
}
.element:nth-of-type(1) a{
    color: #0e0e0d;
}
.element:nth-of-type(2){
    background: center url("../../Assets/images/mars.jpeg");
    background-size: cover;
}
.element:nth-of-type(2) a{
    color: #dcdf44;
}
.element:nth-of-type(3){
    background: center url("../../Assets/images/elephant.jpeg");
    background-size: cover;
}
.element:nth-of-type(3) a{
    color: burlywood;
}
.element:nth-of-type(4){
    background: center url("../../Assets/images/chocolate_pie.jpeg");
    background-size: cover;
    font-family: 'beauty mermaid';
}
.element:nth-of-type(4) a{
    color: #a61919;
    text-shadow: -10px 1px 4px rgba(0,0,0,0.3);
    
}
.element:hover{
    opacity: .7;
}
