*{
    margin: 0;
    box-sizing: border-box;
}
/* Fonts */
@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
}

@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
    font-style: italic;
}

@font-face {
    font-family: "beauty mermaid";
    src: url("../../template_04/Assets/sources/polices/beauty_mermaid.ttf");
    font-style: bold;
}
@font-face {
    font-family: "pixel pinscher";
    src: url("../../Assets/fonts/sh-pinscher/SHPinscher-Regular.otf");
}
@font-face {
    font-family: "arcade pixel";
    src: url("../../Assets/fonts/arcade-pixel/ARCADE.TTF");
}
a{
    text-decoration: none;
    color: #2a803c;
    font-family: "pixel pinscher";
    font-size: 22px;
}
.navigation a:hover{
    animation: elementAppearAndReappear 0.6s ease 0s infinite normal forwards;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(../../Assets/images/pixel_background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "pixel pinscher";
    color: #f3f3f3;
    font-size: 18px;
}
.navigation{
    position: sticky;
    top:0;
    width: 100%;
    height: 10%;
    background-color: #010001;
    border-bottom: 2px solid #1d1c1c;
    
}
h1{
    margin-top: 25px;
    color: linear-gradient(rgba(0,0,0,0));
    font-family: "arcade pixel"; 
    font-size: 38px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul{
    margin-top: 15px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.icons ul li{
    align-items: center;
}
.introduction{
    height: calc(100vh - 70.5px);
    display: flex;
    font-family: "pixel pinscher";
    font-size: 22px;
}
.introductionDebut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.introductionDebut strong{
    font-size: 42px;
    font-family: "arcade pixel";
    color: #2a803c;
}
@keyframes elementAppearAndReappear{
    0%,100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}
@keyframes wanderingAround {
    0%,100% {
        position: relative;
        top: 10%;
    }
    50%{
        position: relative;
        top: 0;
        bottom: 10%;
    }
}
@keyframes wanderingAroundBackwards {
    0%,100% {
        position: relative;
        top: 0%;
        bottom: 10%;
    }
    50%{
        position: relative;
        top: 10%;
        bottom: 0%;
    }
}
#dot{
    font-family: "arcade pixel";
    color: #2a803c;
    font-size: 36px;
    position: relative;
    bottom: 10px;
    animation: elementAppearAndReappear 0.7s ease 0s infinite normal forwards;
}

.container{
    display: flex;
    flex-direction: column;
    height: 705px;
    align-items: center;
    justify-content: center;
    background-color: #474E68;
    color: #f3f3f3;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(../../Assets/images/gameroom-background.gif);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.container-item{
    margin-top: 30px;
}
.container-item p{
    font-size: 22px;
}
h2{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "arcade pixel";
    color: #2a803c; 
}
.grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 140px;
    grid-gap: 15px;
    row-gap: 60px;
    margin: 40px;
    
}
.element{
    color: white;
    padding: 30px 15px;
    text-shadow: 0 0 20px black;
    box-shadow: 0px 0px 0px 2px #000000;
}
.element a{
    padding: 10px;
    font-size: 2em;
    float:right;
}
.element a:hover{
    /*  TODO 
        flèche appear & reappear 
        arcade level like
    */
}
.element:nth-of-type(1){
    background: center url("../../Assets/images/space-pixel.png");
    background-size: cover;
    animation: wanderingAround 2.7s ease 0s infinite normal forwards;
}
.element:nth-of-type(1) a{
    color: #0e0e0d;
}
.element:nth-of-type(2){
    background: center url("../../Assets/images/mars-pixel.png");
    background-size: cover;
    animation: wanderingAroundBackwards 3.7s ease 0s infinite normal forwards;
}
.element:nth-of-type(2) a{
    color: #dcdf44;
}
.element:nth-of-type(3){
    background: center url("../../Assets/images/elephant-pixel.png");
    background-size: cover;
    animation: wanderingAroundBackwards 3.3s ease 0s infinite normal forwards;
}
.element:nth-of-type(3) a{
    color: burlywood;
}
.element:nth-of-type(4){
    background: center url("../../Assets/images/chocolate-pie-pixel.png");
    background-size: cover;
    animation: wanderingAround 3.9s ease 0s infinite normal forwards;
}
.element:nth-of-type(4) a{
    color: #a61919;
}
.element:nth-of-type(5){
        background: center url("../../Assets/images/animated-waves-compressed.gif");
        background-size: cover;
        animation: wanderingAround 3.1s ease 0s infinite normal forwards;
}
.element:nth-of-type(5) a{
    color: black;
}
.element:nth-of-type(5) a span{
    color: #0c4271;
}
#clouds{
    color: white;
}
.element:nth-of-type(6){
    background: center url("../../Assets/images/brunch-pixel.png");
    background-size: cover;
    animation: wanderingAroundBackwards 2.6s ease 0s infinite normal forwards;
}
.brunch{
    font-weight: bold;
    color: black;
}
.book{
    position: relative;
    color: #DEBACE;
    font-size: 22px;
    font-weight: bold;
    bottom: 15px;
}
.element:hover{
    animation: elementAppearAndReappear 0.75s ease 0s infinite normal forwards;
}

/* Responsive */
@media all and (max-width: 1200px) {
    h1{
        font-size: 30px;
    }
    .introduction, .introduction img{
        font-size: 21px;
    }
    .container-item p{
        font-size: 21px;
    }
    a{
        font-size: 21px;
    }
    .introductionDebut strong{
        font-size: 34px;
    }
    #dot{
        font-size: 30px;
    }
    .element{
        padding: 25px 12.5px;
        text-shadow: 0 0 15px black;
    }
    .element a{
        padding: 5px;
        font-size: 1.75em;
    }
}
@media all and (max-width: 800px) {
    h1{
        font-size: 24px;
    }
    .introduction{
        font-size: 19px;
    }
    .introduction img{
        display: none;
    }
    .container-item p{
        font-size: 19px;
    }
    a{
        font-size: 19px;
    }
    .introductionDebut strong{
        font-size: 30px;
    }
    #dot{
        font-size: 24px;
    }
    .element{
        padding: 15px 5px;
    }
    .element a{
        padding: 5px;
        font-size: 1.5em;
    }
}
.cursor{
    position: absolute;
    border: 2px solid black;
    width: 30px;
    height: 20px;
    border-radius: 50%;
}
